

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --white-clr:#fff;
    --black-clr:#000;
    --gray-clr:#ececec;
    --yellow-clr:#f2bf31;
}
body{
    background: var(--yellow-clr);
}
.main-container{
    background: var(--black-clr);
    min-height: 100vh;
    position: relative;
}
.container{
    width: 85%;
    
    min-height: 100vh;
    margin: auto;
}
.logo{
    color:var(--yellow-clr);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;

}
.navbar{
    height: 14vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
.navlist{     
    display: flex;
    align-items: center;
    gap:3rem ;

}
.navlinks{
    color:var(--white-clr);
    position: relative;
    font-size: .9rem;
    letter-spacing: .08rem;
    text-transform: uppercase;
}
.active{
    color:var(--yellow-clr);
}
.navlinks:hover{
    color: var(--yellow-clr);
    transition: .5s ease-in-out;
}
.navlinks::before,
.active::before{
    content: '';
    position: absolute;
    background: var(--yellow-clr);
    width:0%;
    height: .1rem;
    bottom: -10px;
    left: 0;
    transition: .5s ease-in-out;
}
.navlinks:hover::before,.active::before{
    width: 100%;
}
.hamburger{
    display: none;
    z-index: 4;
}
.fa-bars{
    font-size: 1.7rem;
    color: var(--white-clr);
}
img{
    max-width: 100px;
    height: auto;
}
.image-container{
    width:24rem;
    position: relative;
}
.image-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--yellow-clr);
    border-radius: 50%;
    z-index: -1;
    transform: rotate(60deg);
}
.hero-section{
    isolation: isolate;
    display: flex;
    align-items: center;
    gap: 13rem;
    min-height: calc(100vh - 14vh);
}

.image-container::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background:linear-gradient(transparent,var(--black-clr)80%);
    height: 6rem;
    width: 100%;
}
h4{
    color: var(--yellow-clr);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
h1{
    color: var(--white-clr);
    font-size: 4rem;

}
span{
    color: var(--yellow-clr);
}
p{
    max-width: 400px;
    color:var(--gray-clr);
    font-size: .95rem;
    line-height: 1.6rem;
    margin-block: 1rem;
}
.btn-container{
    display: flex;
    gap:1.5rem;
    margin: 2rem;

}
button{
    background: var(--yellow-clr);
    font-size: .9rem;
    border: .1rem solid var(--yellow-clr);
    padding: .7rem 1.8rem;
    border-radius: 5rem;
    cursor: pointer;
}
.border-btn{
    background: transparent;
    color: white;
}
.border-btn:hover{
    background: var(--yellow-clr);
    color:var(--black-clr);
}

.overlay{
    position: absolute;
    inset:0 ;
    background: black;
    opacity: 0;
    visibility:hidden ;
    z-index: 3;
}





/*-------------media queries------------ */
@media screen and(max-width:680px){
    .navlist{
       flex-direction: column;
       
       background: var(--yellow-clr);
       position: absolute;
       top:15%;
       left: -100%;
       transform: translateX(-50%);
       z-index: 4;
       width: 20rem;
       padding-block:3rem ;
       transition: .5s ease-in-out;
    }

    .navlist-active{
        left: 50%;
    }

    .active{
        color: var(--black-clr);
    }
    .navlinks,.navlinks:hover{
        color: var(--black-clr);
    }
    .active::before
    ,.navlinks::before{
        background: var(--black-clr);
    }
    .hamburger{
        display: block;
    }
    .hero-section{
        flex-direction: column;
        margin-top: 2rem;
        gap:2rem;
    }
    h1{
        font-size: 3.3rem;
    }
    .image-container{
        width: 18rem;
    }

    .image-container::before{
        width: 18rem;
        height: 24rem;
    }
    .overlay-active{
        opacity: .6;
        visibility: visible;
        transition: .5s ease-in-out;
    }
}